@keyframes scroll {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    animation: scroll 3s linear infinite;
}

.mouse-animation {
    height: 2rem;
    box-sizing: content-box;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.slide-desktop {
    transform: scale(1);
    transition: transform 10s linear;
}

.slide-desktop-active {
    transform: scale(1.15);
}

@keyframes fadeInFlower {
  from {
    opacity: 0;
    /* Mulai dari sedikit kecil dan sedikit bergeser keluar dari posisi akhir.
       Anda bisa bereksperimen dengan nilai transform ini.
       Contoh: scale(0.8) membuatnya 80% dari ukuran asli.
               translate(-5px, -5px) menggesernya sedikit ke kiri atas.
               Efek ini akan membuat seolah-olah bunga "tumbuh" ke posisinya.
    */
    transform: scale(0.9) /*translate(-5px, -5px)*/; /* Saya sederhanakan sedikit, hanya scale */
  }
  to {
    opacity: 0.7; /* Atur opacity akhir yang Anda inginkan (misal 0.5, 0.7, atau 1) */
    transform: scale(1); /* Kembali ke ukuran normal */
  }
}